@import 'tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Maven Pro', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.pageBg {
  @apply bg-no-repeat bg-fixed bg-cover;
}
.menusBox {
  @apply bg-slate-700;
}
.menusBox h3 {
  @apply bg-indigo-100 tracking-widest p-1;
}
.menus {
  @apply w-full  my-1 mb-3;
}
.menus tr {
  @apply even:bg-slate-200 odd:bg-slate-100;
}
.menus .row_number {
  @apply text-gray-400 w-12 font-mono;
}
.menus td {
  @apply p-2 align-top;
}
.menus th {
  @apply text-left p-2;
}
.menus .price {
  @apply text-right font-mono w-24;
}
.menus .price2 {
  @apply text-right w-32 font-mono;
}
.menus span {
  @apply text-red-600;
}
.menus span.setMenu {
  @apply block text-black uppercase font-bold;
}
.menus strong {
  @apply block text-slate-600;
}
.menus .winePrices {
  @apply text-black flex justify-between pt-2;
}
.menus .winePrices i {
  @apply not-italic font-mono;
}
.commonImages img {
  @apply rounded-full w-28 sm:w-36 md:w-40 lg:w-52 transition;
}

/*

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
